#bp_fp_notice 
{
    position: absolute;
    z-index: 999999;
    top: 25px;
    left: 0;
    right: 0;
}

#bp_fp_notice #bp_fp_container
{
    position: relative;
    width:auto;
    margin: 10px;
    line-height: 2.5;
    overflow: hidden;
	border: 3px solid;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;
}

#bp_fp_notice #bp_fp_container.white 
{
	background-color: #fff;
	border-color: #dee0e1;
}

#bp_fp_notice #bp_fp_container.blue
{
	background-color: #dfedf8;
	border-color: #bccfe4;
}

#bp_fp_notice #bp_fp_container.green
{
	background-color: #dfd;
	border-color: #beb;
}

#bp_fp_notice #bp_fp_container.yellow 
{
	background-color: #ffd;
	border-color: #eeb;
}

#bp_fp_notice #bp_fp_container.red 
{
	background-color: #fcc;
	border-color: #ebb;
}

#bp_fp_notice #bp_fp_container #bp_fp_message
{
	position: relative;
    text-align: center;
	font-size: 20px;
	color:#ffd;
}

#bp_fp_notice #bp_fp_container.white #bp_fp_message
{
	color:#333;
}

#bp_fp_notice #bp_fp_container.blue #bp_fp_message
{
	color:#2d8af2;
}

#bp_fp_notice #bp_fp_container.green #bp_fp_message
{
	color:#02a41d;
}

#bp_fp_notice #bp_fp_container.yellow #bp_fp_message
{
	color:#d54a29;
}

#bp_fp_notice #bp_fp_container.red #bp_fp_message
{
	color:#d52727;
}

#bp_fp_notice #bp_fp_container #bp_fp_fields
{
	position: relative;
	width:25%;
	margin-left:auto;
	margin-right:auto;
    text-align: left;
	font-size: 14px;
}
